{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Produits</h1>

        {% if produits is not empty %}
            <div class="row">
                {% for produit in produits %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="{{ asset('uploads/' ~ produit.imagefile) }}" class="card-img-top" alt="{{ produit.nom }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ produit.nom }}</h5>
                                <p class="card-text">Prix: {{ produit.prix }}</p>
                                <p class="card-text">Catégorie: {{ produit.categorie }}</p>
                                <a href="{{ path('app_produit_show', {'id': produit.id}) }}" class="btn btn-primary">Show</a>
                                <form action="{{ path('add_to_cart') }}" method="post">
                                    <input type="hidden" name="product_id" value="{{ produit.id }}">
                                    <button type="submit" class="btn btn-success">Add to Cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No records found.</p>
        {% endif %}
    </div>
{% endblock %}
